.tabs-title {
  margin-top: 60px;
  margin-bottom: 40px;
}

a {
  color: #123851;
}

a:hover {
  color: #BD2132;
  text-decoration: none;
}

#photo-ratatouille, #menu-img, #book-content {
  width: 80%;
  max-width: 1100px;
}
